<app-topheader></app-topheader>
<section class="bg-light"
	style="min-height:calc(100vh - 33px); padding-top:calc(100vh - 80vh); padding-bottom:calc(100vh - 80vh); background-image: url(assets/images/world-map.jpg); background-position: center center;">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-10">
				<div class="card shadow-1-strong">
					<div class="card-header bg-primary text-white text-center">
						<p class="font-weight-bold mb-0">Administrator Login</p>
					</div>
					<div class="card-body">
						<form name="form_admin_login" id="form_admin_login" [formGroup]="form_admin_login"
							(ngSubmit)="submit()">
							<mdb-form-control
								[ngClass]="(form_admin_login.controls.username.touched && form_admin_login.controls.username.invalid ? 'mb-5' : 'mb-3' )">
								<input mdbValidate mdbInput type="text" name="username" id="username"
									class="form-control form-control-lg" [formControlName]="'username'" [ngClass]="{'invalid is-invalid': form_admin_login.controls.username.touched && form_admin_login.controls.username.invalid
									}" />
								<label mdbLabel class="form-label" for="usename">Login Username</label>
								<mdb-error class="invalid-feedback font-italic text-end"
									*ngIf="(form_admin_login.controls.username.dirty || form_admin_login.controls.username.touched) && form_admin_login.controls.username.invalid">
									<i class="fas fa-exclamation-triangle"></i> Enter Login Username
								</mdb-error>
							</mdb-form-control>

							<mdb-form-control
								[ngClass]="(form_admin_login.controls.password.touched && form_admin_login.controls.password.invalid ? 'mb-5' : 'mb-3')">
								<input mdbValidate mdbInput type="password" name="password" id="password"
									class="form-control form-control-lg" [formControlName]="'password'" [ngClass]="{'invalid is-invalid': form_admin_login.controls.password.touched && form_admin_login.controls.password.invalid
									}" />
								<label mdbLabel class="form-label" for="password">Login Password</label>
								<mdb-error class="invalid-feedback font-italic text-end"
									*ngIf="(form_admin_login.controls.password.dirty || form_admin_login.controls.password.touched) && form_admin_login.controls.password.invalid">
									<i class="fas fa-exclamation-triangle"></i> Enter Login Password
								</mdb-error>
							</mdb-form-control>
							<button type="submit" class="btn btn-block btn-lg btn-success font-weight-bold"
								[disabled]="form_admin_login.invalid || submitted"
								[ngClass]="(form_admin_login.invalid ? 'd-none' : '' )">
								<i [ngClass]="(submitted ? 'fas fa-cog fa-spin' : 'fas fa-sign-in-alt')"></i>
								{{ submitted ? (authstatus ? 'Authentication Success ...' : 'Authenticating...') : 'Signin' }}
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>